
@model Factory.Models.Machine

<h1>Unable to add machine to engineer: machine is already able to be repaired by this engineer.</h1>

<p>@Html.ActionLink("Back to machine details", "Details", new { id = Model.MachineId })</p>