
@model Factory.Models.Engineer

<h1>Unable to add engineer to machine: engineer is already licensed for this machine.</h1>

<p>@Html.ActionLink("Back to engineer details", "Details", new { id = Model.EngineerId })</p>